@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700;1,800&display=swap');

h1 {
    font-family: 'Antic', sans-serif;
    font-size: 100px;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 150;
    color: #fff;
}

a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
}
a:hover { 
    text-decoration: none; 
    color: grey;
}

body, html {
    height: 100%;
  }

/* Home page */

.homepage_image{
        position: relative;
        /* The image used */
        background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/382/original/DSC_0857.jpg?1639068537');
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

.homepage_content{
    height: 1000px;
}

.title_homepage {
    position: absolute;
    left: 700px;
    top: 150px;
}

.nav_bar_home{
    position: absolute;
    left: 100px;
    bottom: 100px;
    text-align: center;

}

.gallery_image, .about_image, .contact_image {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat !important;
    display: block;
    margin: 0 auto; 
}
.about_image {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/705/original/gini_cam.png?1650884896');
}

.gallery_image {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/706/original/hold-link.png?1650884932');
}

.contact_image {
    background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/707/original/gini_close.png?1650884958');
}

.homepage-links {
    background: #A3B18A;
    padding-bottom: 100px;
    padding-top: 100px;
}

.homepage-links h2 {
    color: #fff;
    text-align: center;
    padding: 50px 300px 50px 300px;
}

.homepage-links a {
    padding-top: 150px;
    font-size: 50px;
    text-align: center;
}

/* Footer */
footer {
    background: #3b563e;

}
footer a {
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}


 
/* Nav bar */
.nav {
    background: #525251; 
}
.nav h1 {
    float: left;
    font-size: 60px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#menu ul {
    float: right;
    list-style-type:none;
    padding-top: 8px;
    padding-bottom:8px;
}

#menu li {
    float: left;
    margin-right: 30px;
}

ul {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type:none;

}

li {
    padding-bottom: 10px;
}

.active {
    border-bottom: 1px solid #FFF;
}


/* About me */
.about_me{
    background: #6c757d; 
    height: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
}

.about_me h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.about_me p {
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}

.gini_background {
    position: relative;
        /* The image used */
        background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/708/original/gini2.jpeg?1650885280');
        /* opacity: 0.8; */
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        padding-top: 15px;

      }
      

.gini_content {
   background-color: rgba(93, 94, 90, 0.7);
    margin-top: 5px;
    height: 95%;

}

/* Contact me page */


/* Gallery */

.gallery-style {
    background-color: #c5ccd3;
    padding: 50px 30px 50px;
}

.imagerow{
    margin-top: 30px;
}

/* Contact me */

.contact-area{
      /* The image used */
      background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/032/700/original/DSC_0098.jpg?1650884058');
      /* opacity: 0.8; */
      background-repeat: no-repeat;
      background-size: auto;
      /* Full height */
      height: 100%;
}

.contactForm {
    /* margin: auto; */
    float: right;
    border-radius: 5px;
    padding: 10px;
    max-width: 450px;
    max-height: 550px;
    margin-top: 80px;
  }


input[type="text"],
input[type="email"] {

  display: block;
  text-align: left;
  margin: 10px;
  border: none;
  
}

textarea {
  text-align: left;
  
  margin: 10px;
  border: none;
  max-width: 90%;
}

.blackButton {
    color: #FFF;
    background-color: saddlebrown;
}

