@import url('https://fonts.googleapis.com/css2?family=Antic&family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700;1,800&display=swap');

h1 {
    font-family: 'Antic', sans-serif;
    font-size: 100px;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 150;
    color: #fff;
}

a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
}
a:hover { 
    text-decoration: none; 
    color: grey;
}

body, html {
    height: 100%;
  }

/* Home page */

.homepage_image{
        position: relative;
        /* The image used */
        background-image: url('/assets/images/seals.jpg');
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }

.homepage_content{
    height: 1000px;
}

.title_homepage {
    position: absolute;
    left: 700px;
    top: 150px;
}

.nav_bar_home{
    position: absolute;
    left: 100px;
    bottom: 100px;
    text-align: center;

}

.gallery_image {
    background: url(/assets/images/holder_gini.png);
    height: 300px;
    width: 300px;
    background-repeat: no-repeat !important;
    display: block;
    margin: 0 auto; 
}

.homepage-links {
background: #A3B18A;
padding-bottom: 100px;
padding-top: 100px;
}

.homepage-links h2 {
    color: #fff;
    text-align: center;
    padding: 50px 300px 50px 300px;

}

.homepage-links a {
    padding-top: 150px;
    font-size: 50px;
    text-align: center;
}
